<div class="page-container">
  <!-- Background and Login Form -->
  <div class="login-container">
    <!-- Login Form -->
    <form (ngSubmit)="login()" class="login-form">
      <h1>Login to School Transport</h1>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" name="username" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" name="password" type="password" required>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="!username || !password">Login</button>

      <div class="error-message" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </div>

      <p class="registration-link">
        Don't have an account? 
        <a>
          <span (click)="goToRegister()">Create one here</span>
        </a>
      </p>
    </form>
  </div>
</div>
